html{
    height:100%;
    background-color: #ab0000;
    background: url('./bg.png') 0px 0px repeat;
}
body{
    background-color: #ab0000;
    background: url('./bg.png') 0px 0px repeat;
}

#content{
    width:100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding:0px;
    display:block;
    margin-top: 50px;
}

#content:after{
    content:'';
    position:fixed;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    width:100%;
    height:100%;
    display:block;
    background-image: linear-gradient(to top right,rgba(100,0,0,.7),rgba(250,0,0,.25));
    background-size: cover;
    z-index:0;
}

#content span{
    position:relative;
    margin:12px;
    z-index:1;
}
#content table{
    position:relative;
    display:table;
    margin:auto;
    border-spacing: 5px;
    border-collapse: separate;
    z-index:2;
}
#content table tr{
    min-height:20%;
}
#content table td{
    min-width:20%;
    cursor:pointer;
    text-align:center;
    background-color:rgba(255,255,255,.95);
    background-image: linear-gradient(to top,rgba(180,180,180,.8),rgba(255,255,255,.25));
    border:5px solid #cc0000;
    font-weight:bold;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:18px;
    word-wrap: break-word;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    padding:3px;
    color:#333333;
}
#content table td:hover{
    border:5px solid #ee0000;
    color:#111111;
}
#content table td.active{
    background-color:rgba(220,220,220,.9);
}
#content table td.active.bingo{
    background-color:rgba(170,170,170,.85);
    border-color:#ff2222;
    animation-name: bingo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes bingo {
    0%   {border-color:#ff2222;}
    25%  {border-color:#ee0000;}
    50%  {border-color:#ff9911;}
    100% {border-color:#ff2222;}
}
